{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>View Consumption</h3>
<hr>

<div class="container m-2">
  <form action="{% url 'search_between_exp' %}" method="post">
    {% csrf_token %}
  <label for="">Start date</label>
  <input type="date" name="datef" id="datepicker" required>
  <label for="">End date</label>
  <input type="date" name="datet" id="datepicker" required>
  <button class="btn" type="submit"><i class="fas fa-search"></i></button>
  
  <!-- predefined dates view  -->

  <a class="dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">View data of</a>
<div class="dropdown-menu">
  <a class="dropdown-item" href="{% url 'search_last_seven_days_exp' %}">Last 7 days</a>
  <a class="dropdown-item" href="{% url 'search_this_month_exp' %}">This month</a>
  <a class="dropdown-item" href="{% url 'search_last_month_exp' %}">Last month</a>
  
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'search_this_year_exp' %}">This year</a>
  <a class="dropdown-item" href="{% url 'stock_exp' %}">All</a>
</div>
  
</form>
</div>



<table style="width: 100%;">
    <thead class="table-dark">
      <tr>
        <th rowspan="2">Date</th>
        <th rowspan="2">Description</th>
        <th colspan="3" style="text-align: center;">Consumption</th>
        <th colspan="2" rowspan="2">Action</th>
        
      </tr>
      <tr>
        <th>Wheat(Kg)</th>
        <th>Rice(Kg)</th>
        <th>Combo(Kg)</th>
        
        
      </tr>
    </thead>
    <tbody>
      <tr id="add_exp" class="table-info">
        <form action= "{% url 'stock_exp' %}" method="post">
        {% csrf_token %}
        <td><input type="date" placeholder="date" name="date" required></td>
        <td><input type="text" name="description" id="" placeholder="desc"></td>
        
        <td><input type="number" placeholder="Wheat(Kg)" name = "wheat" required></td>
        <td><input type="number" placeholder="Rice(Kg)" name = "rice" required></td>
        <td><input type="number" placeholder="Combo" name="combo" required></td>
        <td><button class = "btn btn-success" type="submit"><i class="fas fa-plus "></i></button></td>
        <td></td>
        </form>
         
      </tr>

      {% for exp in exps %}
      <tr class = "table-danger">
        <td>{{exp.date}}</td>
        <td>{{exp.description}}</td>
        <td>{{exp.wheat}}</td>
        <td>{{exp.rice}}</td>
        <td>{{exp.combo}}</td>
        <td><a class = "btn btn-primary" href="{% url 'update_exp' exp.id %}"><i class="far fa-edit"></i></a></td>
        <td><a class = "btn btn-danger" href="{% url 'delete_exp' exp.id %}"><i class="fas fa-trash"></i></a></td>
          
        
        
        <!-- <a class = "btn btn-primary" href="#">Delete</a> -->
       
      </tr>
     
      {% endfor %}
      {% if  exps %}
      <tr class="table-dark" >
        <td>Sum(Only of exp stock)</td>
        <td>-</td>
        <td>{{wheatsum}}</td>
        <td>{{ricesum}}</td>
        <td>{{combosum}}</td>
        <td></td>
        <td></td>
        
        
        <!-- <a class = "btn btn-primary" href="#">Delete</a> -->
       
      </tr>
      {% endif %}
      
      
    </tbody>
  </table>

  
<br><br>




{% endblock %}


