{% load static %}
{% include 'base.html' %}
{% block content %}
<h3>View Consumption | <a href="#add_exp">Add consumption</a></h3>

<div class="container m-2">
  <form action="#" method="post">
    {% csrf_token %}
  <label for="">Start date</label>
  <input type="date" name="startdate" id="">
  <label for="">End date</label>
  <input type="date" name="enddate" id="">
  <button class="btn" type="submit"><i class="fas fa-search"></i></button>
</form>

</div>

<table style="width: 100%;">
    <thead>
      <tr>
        <th rowspan="2">Date</th>
        <th rowspan="2">Description</th>
        <th colspan="3">Consumption</th>
        
      </tr>
      <tr>
        <th>Wheat(Kg)</th>
        <th>Rice(Kg)</th>
        <th>Combo(Kg)</th>
        <th colspan="2">Action</th>
        
      </tr>
    </thead>
    <tbody>
      <tr id="add_exp">
        <form action= "{% url 'stock_exp' %}" method="post">
        {% csrf_token %}
        <td><input type="date" placeholder="date" name="date" required></td>
        <td><input type="text" name="description" id="" placeholder="desc"></td>
        
        <td><input type="number" placeholder="Wheat(Kg)" name = "wheat" required></td>
        <td><input type="number" placeholder="Rice(Kg)" name = "rice" required></td>
        <td><input type="number" placeholder="Combo" name="combo" required></td>
        <td><button class = "btn btn-success" type="submit"><i class="fas fa-plus "></i></button></td>
        </form>
         
      </tr>

      {% for exp in exps %}
      <tr>
        <td>{{exp.date}}</td>
        <td>{{exp.description}}</td>
        <td>{{exp.wheat}}</td>
        <td>{{exp.rice}}</td>
        <td>{{exp.combo}}</td>
        <td><a class = "btn btn-primary" href="{% url 'update_exp' exp.id %}"><i class="far fa-edit"></i></a>
          <a class = "btn btn-danger" href="{% url 'delete_exp' exp.id %}"><i class="fas fa-trash"></i></a>
          
        </td>
        
        <!-- <a class = "btn btn-primary" href="#">Delete</a> -->
       
      </tr>
     
      {% endfor %}
      {% if  exps %}
      <tr style="border-top: 5px solid black ;border-bottom: 5px solid black ;">
        <td>Sum(Only of exp stock)</td>
        <td>-</td>
        <td>{{wheatsum}}</td>
        <td>{{ricesum}}</td>
        <td>{{combosum}}</td>
        
        
        <!-- <a class = "btn btn-primary" href="#">Delete</a> -->
       
      </tr>
      {% endif %}
      
      
    </tbody>
  </table>

  





{% endblock %}


