<table class="table table-hover">
  <thead>
    <tr>
        <th rowspan="2">Date</th>
        <th rowspan="2">Description</th>
        <th colspan="3">Opening/Receipt</th>
        
    </tr>
    <tr>
        <th>Wheat(Kg)</th>
        <th>Rice(Kg)</th>
        <th>Combo(Kg)</th>
        <th colspan="2">Action</th>
        
      </tr>
  </thead>
  <tbody>
    <tr class="table-info">
      <form action="{% url 'stock_receipt' %}" method="post">
            {% csrf_token %}
        <td><input type="date" placeholder="date" name="date" required></td>
        <td><input type="text" name="description" id="" placeholder="desc"></td>
        
        <td><input type="number" placeholder="Wheat(Kg)" name = "wheat" required></td>
        <td><input type="number" placeholder="Rice(Kg)" name = "rice" required></td>
        <td><input type="number" placeholder="Combo" name="combo" required></td>
        <td><button class = "btn btn-success" type="submit"><i class="fas fa-plus "></i></button></td>
      </form>
    </tr>

    {% for receipt in receipts %}
      <tr class="table-success">
        <td>{{receipt.date}}</td>
        <td>{{receipt.description}}</td>
        <td>{{receipt.wheat}}</td>
        <td>{{receipt.rice}}</td>
        <td>{{receipt.combo}}</td>
        <td>
          <a class = "btn btn-primary" href="{% url 'update_receipt' receipt.id %}"><i class="far fa-edit"></i></a>
          <a class = "btn btn-danger" href="{% url 'delete_receipt' receipt.id %}"><i class="fas fa-trash"></i></a>
          
        </td>
      </tr>
      {% endfor %}

    <tr class="table-dark">
      <td>Sum(Only of receipt stock)</td>
        <td>-</td>
        <td>{{wheatsum}}</td>
        <td>{{ricesum}}</td>
        <td>{{combosum}}</td>
    </tr>
  </tbody>
</table>