<table style="border: 2px solid black; border-collapse: collapse">
      <thead>
        <tr>
          <th rowspan="2">Date</th>
          <th rowspan="2">Type</th>
          <th rowspan="2">Description</th>
          <th colspan="3">Opening/Receipt</th>
          <th colspan="3">Consumption</th>
          <th colspan="3">Balance</th>
        </tr>
        <tr>
          <th>Wheat</th>
          <th>Rice</th>
          <th>Combo</th>
          <th>Wheat</th>
          <th>Rice</th>
          <th>Combo</th>
          <th>Wheat</th>
          <th>Rice</th>
          <th>Combo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>sample data</td>
          <td>sample data</td>
          <td>sample data</td>
          <td>sample data</td>
          <td>sample data</td>
          <td>sample data</td>
          <td>sample data</td>
          <td>data </td>
          <td>data </td>
          <td>data </td>
          <td>data </td>
        </tr>
        <tr>
          <td><input type="date" placeholder="date"></td>
          <td><textarea name="" id="" cols="20" rows="3" placeholder="Desc."></textarea></td>
          
          <td><input type="number" placeholder="Wheat(Kg)"></td>
          <td><input type="text" placeholder="data"></td>
          <td><input type="text" e="data"></td>
          <td><input type="text" placeholder="data"></td>
          <td><input type="text" placeholder="data"></td>
          <td><input type="text" placeholder="data"></td>
          
        </tr>
        
      </tbody>
    </table>