{% extends 'base.html' %}
{% block content %}
<br>
<div class="container m-2">
  <form action="{% url 'search_between_all' %}" method="post">
    {% csrf_token %}
  <label for="">Start date</label>
  <input type="date" name="datef" id="datef" required>
  <label for="">End date</label>
  <input type="date" name="datet" id="datet" required>
  <button class="btn" type="submit"><i class="fas fa-search"></i></button>
  
  <!-- predefined dates view  -->

  <a class="dropdown-toggle btn btn-primary" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">View data of</a>
<div class="dropdown-menu">
  <a class="dropdown-item" href="{% url 'search_last_seven_days_all' %}">Last 7 days</a>
  <a class="dropdown-item" href="{% url 'search_this_month_all' %}">This month</a>
  <a class="dropdown-item" href="{% url 'search_last_month_all' %}">Last month</a>
  
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="{% url 'search_this_year_all' %}">This year</a>
  <a class="dropdown-item" href="{% url 'stock_overview' %}">All</a>
</div>
  
</form>
</div>
<br>
<input class="form-control" type="text" name="searchField" id="searchField" placeholder="Search Any Entry">

<br><br>

<table class="table table-hover app-table" style="width: 100%;">
  <thead>
    <tr class="table-dark">
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Wheat</th>
      <th scope="col">Rice</th>
      <th scope="col">Combo</th>

    </tr>
  </thead>
  <tbody>
    
    

    {% for stock in stocks %}
      {% if stock.operation == 'receipt' %}
      <tr class="table-success">
        <th>receipt</th>
        <td>{{stock.date}}</td>
        <td>{{stock.description}}</td>
        <td>{{stock.wheat}}</td>
        <td>{{stock.rice}}</td>
        <td>{{stock.combo}}</td>
      </tr>
      {% else %}
      <tr class="table-danger">
        <th>consumption</th>
        <td>{{stock.date}}</td>
        <td>{{stock.description}}</td>
        <td>{{stock.wheat}}</td>
        <td>{{stock.rice}}</td>
        <td>{{stock.combo}}</td>
      </tr>

      {% endif %}
    {% endfor %}
    
    <tr class="table-dark">
      <th>Total stock available on -></th>
      <td>{{today}}</td>
      <td>Net</td>
      <td>{{netwheat}}</td>
      <td>{{netrice}}</td>
      <td>{{netcombo}}</td>
    </tr>
    
  </tbody>
</table>

<h4 class="item-not-found">Item Not Found</h4>


<table class="table table-hover" id="table-output" style="width: 100%;">
  <thead>
    <tr class="table-dark">
      <th scope="col">Type</th>
      <th scope="col">Date</th>
      <th scope="col">Description</th>
      <th scope="col">Wheat</th>
      <th scope="col">Rice</th>
      <th scope="col">Combo</th>

    </tr>
  </thead>
  <tbody class="table-body">

  </tbody>
</table>




{% endblock content %}